# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

In [5]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [9]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [2]:
name = "Melisse"
print(name)

Melisse

##### print() <br>
<p>Don't forget about end=' '</p>

In [3]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Zeigler")

This is my first name:  Melisse
Full Name:  Melisse Zeigler

##### String Concatenation

In [4]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [5]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [7]:
# Input will always return a string

# name = input('What is your name ')
# print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 13
18

##### format()

In [8]:
age = input("what is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is your age? 13
You are 13 Melisse and you are getting wiser!
13 is a great time in life!!!

##### Old Way (python 2)

In [9]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 13 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [11]:
name = input('What is your name? ')
color = input('What color is your car? ')
make = input("what is the make of your car? ")
year = int(input("What year is your car? "))
model = input("What model is your car? ")

result = f"{name}, your {year} {make} {model}'s color is {color}"
print(result)

What is your name? Melisse
What color is your car? Blue
what is the make of your car? Toyota
What year is your car? 2018
What model is your car? Sienna
Melisse, your 2018 Toyota Sienna's color is Blue

### If Statements

In [17]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
# Legend: && is "and"
# Legend: // is "or"

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')

# if num2 > num1:
#     print("Num2 is greater")
# elif num1 > num2:
#     print("Num1 is greater")
# else:
#     print("Equal values")
# Num2 is greater

if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here")

This ran!

##### 'is' keyword

In [18]:
# The "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [19]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [20]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
question = input('What is your input? ')

if 'p' in question:
    print("The letter 'p' is here.")
else:
    print("The letter'p' is not here.")

What is your input? car
The letter'p' is not here.

## Using 'and'/'or' with If Statements

In [1]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")

# If with 'or' statement
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

True and True
False and True

### Elif Statements

In [2]:
first_name = input('What is your name? ')

if first_name == 'Ziggy':
    print('The name is Ziggy.')
elif first_name == "Melisse":
    print('The name is Melisse')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Melisse
The name is Melisse

### Else Statements

In [ ]:
# see above

### For Loops

In [11]:
# Syntax:
# for counter condition

name = "Melisse Zeigler"
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [13]:
name = "Melisse Zeigler"

for i in name:
    if i == "e":
        continue
    print(i)

M
l
i
s
s

Z
i
g
l
r

##### Break Statement

In [ ]:
# will break out of current loop

In [14]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [15]:
name = "Melisse Zeigler"

for i in name:
    pass

##### Double For Loops

In [17]:
for i in range (5):
    for j in range (5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [18]:
# Syntax:
# While keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [19]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [80]:
num = 0 

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration", str(i + 1))
        
    num += 1

While loop iteration: 0
For loop iteration 1
For loop iteration 2

While loop iteration: 1
For loop iteration 1
For loop iteration 2

While loop iteration: 2
For loop iteration 1
For loop iteration 2

While loop iteration: 3
For loop iteration 1
For loop iteration 2

While loop iteration: 4
For loop iteration 1
For loop iteration 2

### Built-In Functions

##### range()

In [21]:
# range (Start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [22]:
name = input("Give me the name of your favorite book:")

length = len(name)
print(length)

Give me the name of your favorite book:A Walk to Remember
18

##### help()

In [26]:
# Use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [27]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
num = 4.5 
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a flat!")

4.5 is a flat!

##### abs()

In [28]:
#  /-5/ = 5

print(abs(-5))

5

### Try and Except

In [29]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

# input_num = int(input('Guess a number'))
# print('Your number is ' + str(input_num))

try:
    input_num = int(input ('Guess a number'))
    print('Your name is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number1
Your name is 1

### Lists

##### Declaring Lists

In [30]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [31]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the begining of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reserve order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [32]:
# adds at the end of the list
names.append('Melisse')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Melisse']

##### .insert()

In [33]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Melisse']

##### .pop()

In [34]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Melisse']


##### .remove()

In [38]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

#remove multiple NAMES from list
names.remove('bob')
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Melisse']

##### del()

In [39]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Nate', 'Melisse']

##### Concatenating Two Lists

In [41]:
#Stich two lists together, will not add the values
list_2 = [1,2,3]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[1, 2, 3, 3, 4, 5]

##### Lists Within Lists

In [75]:
names = ["Max", "Sam", "Josh", ["JimJam", ["Cleopatra", "Beau"], "Jeremaih"]]
print(names[3][1][1])

Beau

##### Looping Through Lists

In [76]:
#Can loop through list by index or with the "in" function

#index style
for i in range(len(names)):
    print(names[i])

#Loop with "in"
for i in names:
    print(i)

Max
Sam
Josh
['JimJam', ['Cleopatra', 'Beau'], 'Jeremaih']
Max
Sam
Josh
['JimJam', ['Cleopatra', 'Beau'], 'Jeremaih']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [50]:
i = 0
while i**3 < 1000:
    print(i**3)
    i += 1

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [62]:
i=2
j=2
while i<=100 and j<=i:
        if j == i:
            print(i)
            i += 1
            j = 2
        elif i%j != 0:
            j += 1
        elif i%j == 0:
            i += 1
            j = 2

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("What is your age?: "))
if age < 18:
    print("You are a child.")
if age >= 18 and age <= 65:
    print("You are an adult.")
if age > 65:
    print("You are a senior.")

What is your age?: 55
You are an adult.